/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
header{
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
header h1{
  color: rgb(153, 173, 166);
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Baskerville, serif;
}

section > img{
  border: 5px solid rgb(153, 173, 166);
}

p{
  font-size: 1em;
  color: #555;
}
p > a{
  text-decoration: none;
}
section h2{
  color: rgb(112, 127, 127);
  font-size: 2em;
}
a > img{
	border: 5px solid rgb(204, 204, 204);
	transition: border-color 0s ease-out;
}

a > img:hover{
	border-color: rgb(153, 173, 166);
}

footer{
  text-align: right;
}
footer p{
  font-size: 0.8em;
}
